@use "@/styles/app" as *;

//////////////////////////////////////////////////////////////////////
// // // pedido // // //
//////////////////////////////////////////////////////////////////////
#pedido {
  .contup {
    padding-top: 2em;
    padding-inline: 5%;
  }
  .contdown {
    padding-inline: 5%;
  }
}
