/* global colors */
:root {
  --bg: #FFFFFF;
  --clr: #111011;
  --clr-inv: #FFFFFF;
  --clr-card: #FFFFFF;
  --clr-card-inv: #000000;
  --clr-card-2: #E5E5E5;
  --clr-btn: rgba(229, 229, 229);
  /* --clr-btn: rgba(229, 229, 229, 0.81); */
  --clr-btn-2: #A4FDDF;
  --clr-navbar: #FFFFFF;
  --clr-hover: #eeeeee;
  --clr-scroll: #3E2185;
  --clr-card-scroll: rgb(224, 224, 224);
  --mix-blend-mode: multiply;
  --clr-alerta: #CFCFCF;
  --clr-label: #3E2185;
}

/* defautl color */
:is(span, p, h1, h2, h3, h4, h5, h6, .v-list-item__title, .v-btn span, button):not(.notdefault-clr) {
  color: var(--clr);
}
:is(.v-icon, a, input):not(.notdefault-clr) {
  color: var(--clr) !important;
}
label:not(.notdefault-clr) {
  color: var(--clr-label);
  font-weight: 700;
}

/* personal clases */
.clr {
  color: var(--clr) !important;
}
.clr-inv {
  color: var(--clr-inv) !important;
}
.clr-card {
  background-color: var(--clr-card) !important;
}
.clr-card-inv {
  background-color: var(--clr-card-inv) !important;
}
.filter {
  filter: invert(0%) !important;
}
.filter-inv {
  filter: invert(100%) !important;
}
.clr-svg {
  fill: var(--clr) !important;
}
.clr-svg-inv {
  fill: var(--clr-inv) !important;
}
.clr-card-2 {
  background-color: var(--clr-card-2) !important;
}

/* ////////////////////////////////////////////// */
