@use "@/styles/app" as *;

//////////////////////////////////////////////////////////////////////
// // // categorias // // //
//////////////////////////////////////////////////////////////////////
#categorias {
  .contup {
    padding-top: 2em;
    padding-inline: 5%;
  }
  .contdown {
    padding-inline: 5%;
  }
}
