@import "@/styles/app";

// restaurantes
#restaurantes {
  .contup {
    padding-top: 2em;
    padding-inline: 5%;
    .prueba {
      @include absoluteCenter;
      @include mq(max, 700px) {
        background-color: green !important;
      }
    }
  }
  .contdown {
    padding-inline: 5%;
  }
}

#restaurantes-tienda {}
