@import "~vuetify/src/styles/styles.sass";
@import "variables";
@import "base";
@import "personal-base";
@import "responsive";

// global
.v-input__control > .v-input__slot {
  background-color: var(--colorBoton) !important;
  box-shadow: none !important;
  clip-path: $clip-path;
  border-radius: 28px;
  padding: clamp(0.7em, 2vw, 1em) !important;
}

h1 {
  font-weight: 600;
  line-height: 1ch;
  margin-bottom: 16px;
}
h2 {
  font-weight: 500;
  line-height: 1 !important;
  margin-bottom: 16px;
}

.botones {
  min-width: clamp(3.2em, 4vw, 4.4375em) !important;
  min-height: clamp(3.2em, 4vw, 4.4375em) !important;
  background: var(--colorBoton) !important;
  border-radius: 20px !important;
  img {
    width: 2.5em;
    font-size: $font-size-header;
  }
  .v-badge__badge {
    color: #ffffff;
  }
}
.label {
  color: $colorLabel !important;
  font-size: $font-size-header !important;
  font-weight: 700 !important;
  letter-spacing: -0.16ch !important;
}
.activeClass {
  background-color: $color-boton !important;
  span {
    color: #ffffff !important;
  }
}

.contcontrols {
  gap: 1em;
  .v-btn {
    background-color: $color-boton;
  }
}
.contIconActive {
  background-color: $color-boton !important;
  .square {
    background: $color-boton !important;
  }
  span {
    color: $color !important;
  }
}
.BorderContIconActive {
  border: 3px solid #ffffff !important;
}

.parent {
  // padding-top: 2%;
  max-width: 1500px;
  margin-inline: auto;
}

// hover effect
// a:not(.notHover) {
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     margin: auto;
//     width: 100%;
//     height: 100%;
//     background-color: $color-boton;
//     opacity: 0;
//     border-radius: 50px;
//     transform: scaleX(0.2);
//     transform-origin: left;
//     transition: transform 250ms ease;
//   }
//   &:is(:hover, :focus):before {
//     opacity: 0.2;
//     transform: scaleX(1);
//   }
// }
