@import "~vuetify/src/styles/styles.sass";
@import "variables";
@import "base";
@import "mixins";
@import "personal-base";
@import "responsive";


///////////////////// global ///////////////////////

                    /* limit size */

.parent {
  // padding-top: 2%;
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
}
.parentForm {
  // padding-top: 2%;
  max-width: 1300px;
  width: 100%;
  margin-right: auto;
}
.section {
  padding-inline: 2%;
  @media (max-width: 880px) and (max-height: 1180px) {
    padding-inline: 5% !important;
    @media (max-width: 400px) {
      padding-inline: 2% !important;
    }
  }
}


                    /* icons-active */

// .v-input__icon .primary--text {
//   color: #AD0FD5 !important;
// }

/* defautl color */
:is(span, p, h1, h2, h3, h4, h5, h6, .v-list-item__title, .v-btn span, button):not(.notdefault-clr, .notdefault) {
  color: var(--clr);
}
:is(.v-icon, a, input):not(.notdefault-clr, .notdefault) {
  color: var(--clr) !important;
}
label:not(.notdefault-clr, .notdefault) {
  color: var(--clr-label);
  font-weight: 700;
}

                    /* typography */

* {
  text-transform: uppercase !important;
}
h1:not(.notdefault-typography, .notdefault) {
  font-weight: 600 !important;
  line-height: 1ch !important;
  margin-bottom: 16px !important;
}
h2:not(.notdefault-typography, .notdefault) {
  font-weight: 500 !important;
  line-height: 1 !important;
  margin-bottom: 16px !important;
}
:is(span, p, h1, h2, h3, h4, h5, h6, .v-list-item__title, .v-btn span, button, label, .v-btn):not(.notdefault-typography, .notdefault) {
  letter-spacing: -0.1ch;
}
p:not(.notdefault-typography, .notdefault) {
  font-weight: 500;
  -webkit-text-stroke: 0.4px var(--clr);
  -moz-text-stroke: 0.4px var(--clr);
}

                    /* other adjusts */

// menu select
.v-select-list {
  background-color: var(--clr-card-2) !important;
  box-shadow: none !important;
  // clip-path: $clip-path-2;
  border-radius: 28px !important;
  padding: clamp(0.7em, 2vw, 1em) !important;
  font-weight: 700;
  font-size: $font-size-header;
  border: 2px solid #CFCFCF !important;
  span {color: var(--clr-text-btn-2) !important}
  .v-list-item {border-radius: $border-btn;overflow: hidden}
  .v-list-item--active {
    background: $clr-btn !important;
    :is(div, i) {color: $clr-text-btn !important}
  }
}

.back {
  width: max-content;
  height: max-content;
  padding: 0.7em;
  background-color: $clr-btn;
  color: $clr-text-btn !important;
  .v-icon {
    color: $clr-text-btn !important;
  }
}

.add {
  background-color: $clr-btn;
  filter: $sombra-filter;
  padding: 1.6em;
  img {
    width: 2em;
    transform: translateX(5%);
  }
}

.v-input__control > .v-input__slot {
  background-color: var(--clr-card-2) !important;
  box-shadow: none !important;
  clip-path: $clip-path;
  border-radius: 28px;
  padding: clamp(0.7em, 2vw, 1em) !important;
  font-weight: 700;
  font-size: $font-size-header;
}
// badge
.v-badge__badge {
  color: #ffffff !important;
}
.botones {
  min-width: clamp(3.2em, 4vw, 4.4375em) !important;
  min-height: clamp(3.2em, 4vw, 4.4375em) !important;
  background: var(--clr-card-2) !important;
  border-radius: 20px !important;
  img {
    width: 2.5em;
    font-size: $font-size-header;
  }
}
.label {
  color: $clr-label !important;
  font-size: $font-size-header !important;
  font-weight: 700 !important;
  letter-spacing: -0.16ch !important;
}
.activeClass {
  background-color: var(--clr-btn-active) !important;
  span {
    color: var(--clr-text-btn-active) !important;
  }
}

.contcontrols {
  gap: 1em;
  .v-btn {
    background-color: var(--clr-btn);
  }
}
.contIconActive {
  background-color: var(--clr-btn) !important;
  .square {
    background: var(--clr-btn) !important;
  }
  span {
    color: var(--clr-text-btn) !important;
  }
}
.BorderContIconActive {
  border: 3px solid #ffffff !important;
}
