// // // // ALTAS RESOLUCIONES // // // //
@media (min-width: 1400px) {
}
@media (min-width: 1800px) {
}

// // // MIN-WIDTH ARRIBA
/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
// // // MAX-WIDTH ABAJO

// // // // MOBILE // // // //
@media (max-width: 880px) and (max-height: 1180px) {
  // html {
  //   font-size: 16px !important;
  // }
  // .v-main__wrap {
  //   padding-inline: 0 !important;
  // }
  ///////////////////////////////////////
}

// TAMAÑO MINIMO
@media (max-width: 380px) {
}
@media (max-width: 310px) {
}

@media (max-height: 750px) and (min-width: 881px) {
  #navbar {
    font-size: 14px !important;
    .contlogo {
      width: min(90%, 8em);
    }
  }
}
@media (max-height: 630px) and (min-width: 881px) {
  #navbar {
    font-size: 12px !important;
  }
}
