@import "../../styles/app";

// layout
#layout {
  background: center no-repeat fixed url("../../assets/images/fondo.png");
  background-size: cover;
  .v-main__wrap {
    // padding: 4rem $content-padding 70px $content-padding;
    padding-inline: 0;
    padding-bottom: clamp(6rem, 8vh, 8rem);
    padding-top: 0;
    margin-left: 15%;
  }
  @media (max-height: 800px) {
    .v-main__wrap {
      padding-top: clamp(3rem, 17vh , 9rem);
    }
  }
  .fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    z-index: 0;
  }
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// navbar
#navbar {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15%;
  height: 100%;
  padding-block: clamp(2em, 3vh, 3em);
  box-shadow: $sombra-cartas;
  gap: clamp(0em, 1.5vh, 2em);
  .contlogo {
    width: min(90%, 10em);
    .logo {
      width: 100%;
    }
  }
  .contnavbar {
    gap: clamp(0em, 1vh, 1em);
    .conticon {
      width: min(10vw, 5.9375em);
      height: min(10vw, 5.9375em);
      border-radius: 30px;
      :is(img, span) {
        font-size: min(1.2vw, 0.7em);
      }
      img {
        width: min(10vw, 3.7em);
        transition: 0.5s ease-in-out;
      }
    }
    .conticonActive {
      background: #A4FDDF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: 0.2s ease-in-out;
    }
  }
}
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// header
#headerApp {
  font-size: 16px;
  .contheader {
    max-width: 85%;
    .contleft {
      gap: 1em;
    }
    .contright {
      .walletButton {
        margin-left: 1em;
        box-shadow: $sombra-boton !important;
        background: $color-boton;
        border-radius: $border;
        width: 164px;
        height: 71px;
        span {
          font-weight: 400;
          -webkit-text-stroke: 0.2px #FFFFFF;
          -moz-text-stroke: 0.2px #FFFFFF;
          color: #FFFFFF !important;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// footer
.v-footer {
  display: flex;
  justify-content: flex-end;
  .row {
    max-width: 85%;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
    }
  }
}
@media (max-width: 880px) and (max-height: 1180px) {
  .v-footer {
    .row {
      justify-content: center;
      aside:nth-child(1) {
        order: 2;
      }
      aside:nth-child(2) {
        order: 1;
      }
    }
  }
}
