@import "../../styles/app";

// global
.botones {
  min-width: clamp(3.2em, 4vw, 4.4375em) !important;
  min-height: clamp(3.2em, 4vw, 4.4375em) !important;
  background: var(--colorBoton) !important;
  border-radius: 20px !important;
  img {
    width: 2.5em;
    font-size: $font-size-header;
  }
  .v-badge__badge {
    color: #FFFFFF;
  }
}
.label {
  color: $colorLabel !important;
  font-size: $font-size-header !important;
  font-weight: 700 !important;
  letter-spacing: -0.16ch !important;
}
.activeClass {
  background-color: $color-boton !important;
  span {color: #FFFFFF !important;}
}
@keyframes aparecer {
  0% {opacity: 0;}
  100% {opacity: 100%;}
}

// layout
#layout {
  background: center no-repeat fixed url("../../assets/images/fondo.png");
  background-size: cover;
  // .fondo {
  //   position: absolute;
  //   inset: 0;
  //   width: 100%;
  //   height: 100%;
  // }
  .v-main__wrap {
    margin-left: 15%;
    padding-bottom: clamp(6rem, 8vh, 8rem);
  }
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// navbar
#navbar {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15%;
  height: 100%;
  padding-block: clamp(2em, 3vh, 3em);
  box-shadow: $sombra-cartas;
  // gap: clamp(0em, 1.5vh, 2em);
  z-index: 10;
  .contlogo {
    width: min(90%, 10em);
    .logo {
      width: 100%;
    }
  }
  .contnavbar {
    height: 80%;
    .conticon {
      width: clamp(3em, 10vw, 6.3em);
      height: clamp(3em, 10vw, 6.3em);
      border-radius: var(--border-responsive);
      :is(img, span) {
        font-weight: 500;
        font-size: $font-size-navbar;
        -webkit-text-stroke: 0.4px var(--color);
        -moz-text-stroke: 0.4px var(--color);
      }
      img {
        width: clamp(2em, 10vw, 3.7em);
        animation: aparecer 0.5s;
        transition: 0.5s ease-in-out;
      }
    }
    .conticonActive {
      background: var(--colorBoton2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: 0.2s ease-in-out;
      span {
        color: var(--color) !important;
      }
    }
  }
}
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// header
#headerApp {
  font-size: 16px;
  max-width: 85%;
  margin-left: auto;
  padding-top: clamp(0em, 1vw, 1em);
  padding-inline: clamp(0em, 2vw, 2em);
  .contheader {
    .contleft {
      gap: 0.625em;
      .v-input__slot {
        min-width: 23em;
        background-color: var(--colorBoton);
        box-shadow: none !important;
        clip-path: $clip-path;
        border-radius: 28px;
        padding: clamp(0.7em, 2vw, 1em);
        font-size: $font-size-header;
        font-weight: 700;
      }
    }
    .contright {
      gap: 0.625em;
      .walletButton:focus {
        transform: translateY(-1%);
        box-shadow: inset 0px 0px 4px rgb(164, 253, 223, 0.5);
      }
      .walletButton {
        // background: center no-repeat url("../../assets/icons/boton.png");
        // background-size: contain;
        background: #3E2185;
        clip-path: $clip-path;
        border-radius: 28px;
        padding: clamp(1.5em, 2vw, 1.6em);
        font-weight: 600;
        font-size: $font-size-header;
        letter-spacing: -0.1ch;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
        transition: 0.2s ease-in-out;
        height: 100%;
        span {
          color: $color;
        }
      }
    }
  }
}

// menu header
.searchMobile {
  .v-input__control > .v-input__slot {
    min-width: 24em;
    background-color: var(--colorBoton) !important;
    box-shadow: none !important;
    clip-path: $clip-path;
    border-radius: 28px;
    padding: clamp(0.7em, 2vw, 1em);
    font-size: $font-size-header;
    font-weight: 700;
  }
}
.menuOptions {
  clip-path: $clip-path;
  border-radius: $border-boton !important;
  padding: clamp(0.7em, 2vw, 1em);
  .v-expansion-panel {
    overflow: hidden;
    .v-expansion-panel-content__wrap {padding: 0;}
    .v-expansion-panel-header {
      color: $colorLabel !important;
      font-size: $font-size-header;
      font-weight: 600;
      i {color: $colorLabel !important;}
    }
    .v-expansion-panel-header--active {
      clip-path: $clip-path;
    }
  }
  .v-expansion-panel--active {
    clip-path: $clip-path;
  }
  .v-list {
  padding: 0;
    span {
      color: $colorLabel;
      font-size: $font-size-header;
      font-weight: 600;
    }
  }
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

// footer
.v-footer {
  display: flex;
  justify-content: flex-end;
  .row {
    max-width: 85%;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      justify-content: space-between;
    }
  }
}
@media (max-width: 880px) and (max-height: 1180px) {
  .v-footer {
    .row {
      justify-content: center;
      aside:nth-child(1) {
        order: 2;
      }
      aside:nth-child(2) {
        order: 1;
      }
    }
  }
}
