/* global colors */
:root {
  --bg: #000000;
  --clr: #FFFFFF;
  --clr-inv: #111011;
  --clr-card: #000000;
  --clr-card-inv: #FFFFFF;
  --clr-card-2: #182833;
  --clr-btn: rgba(229, 229, 229, 0.81);
  --clr-btn-2: #3E2185;
  --clr-navbar: #FFFFFF;
  --clr-hover: #080e35;
  --clr-scroll: rgb(98, 99, 91);
  --clr-card-scroll: #B7B89F;
  /* --clr-text-btn: #A4FDDF;
  --clr-btn: #3E2185; */
  --clr-alerta: #CFCFCF;
  --clr-label: #A4FDDF;
  --mix-blend-mode: screen;
}

/* defautl color */
:is(span, p, h1, h2, h3, h4, h5, h6, .v-list-item__title, .v-btn span, button):not(.notdefault-clr) {
  color: var(--clr);
}
:is(.v-icon, a, input):not(.notdefault-clr) {
  color: var(--clr) !important;
}
label:not(.notdefault-clr) {
  color: var(--clr-label);
  font-weight: 700;
}

/* personal clases */
.clr {
  color: var(--clr) !important;
}
.clr-inv {
  color: var(--clr-inv) !important;
}
.clr-card {
  background-color: var(--clr-card) !important;
}
.clr-card-inv {
  background-color: var(--clr-card-inv) !important;
}
.filter {
  filter: invert(0%) !important;
}
.filter-inv {
  filter: invert(100%) !important;
}
.clr-svg {
  fill: var(--clr) !important;
}
.clr-svg-inv {
  fill: var(--clr-inv) !important;
}
.clr-card-2 {
  background-color: var(--clr-card-2) !important;
}
.clr-btn {
  background-color: var(--clr-btn) !important;
}
.clr-text-btn {
  color: var(--clr-text-btn) !important;
}

/* ////////////////////////////////////////////// */
