@use "@/styles/app" as *;

/* googleMap */
.inputGoogleSearch {
  --distance: 1.5em;
  @include absolute(var(--distance),var(--distance));
  width: 50px;
  background-color: var(--clr-card-2) !important;
  border: 2px solid $clr-btn-2;
  border-radius: $border-card !important;
  overflow: hidden;
  z-index: 2;
  transition: .5s $ease-return;
  &.v-text-field--solo .v-input__slot {padding: 0 1em 0 0 !important;clip-path: none !important}
  &:hover {width: 40%;
  }
}
.vue-map-container {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, .2);
  overflow: hidden;
  .vue-map {width: 100%;height: 100%}
  div[draggable="false"]:not(.gm-style-cc) {border-radius: $border-btn !important;background-color: $clr-btn-2 !important}
  .gm-control-active {
    background-color: $clr-btn-2 !important;
    border-radius: 50% !important;
    img {filter: invert(100%) contrast(10)}
  }
  .localImg {
    width: 10em;
  }
}

//////////////////////////////////////////////////////////////////////
// // // restaurantes // // //
//////////////////////////////////////////////////////////////////////
#restaurante-tienda {
  .vue-map-container {
    // aspect-ratio: 16/8;
    border-radius: $border-btn !important;
  }
}

//////////////////////////////////////////////////////////////////////
// // // pedido // // //
//////////////////////////////////////////////////////////////////////
#pedido {
  .vue-map-container {
    border-radius: $border-card;
    border: 4px solid $clr-btn;
  }
}