@import "@/styles/app";

/* googleMap */
.vue-map {
  border-radius: $border-btn;
  box-shadow: 0 0 6px 5px rgba(0, 0, 0, .2);
  .localImg {
    width: 10em;
  }
}

//////////////////////////////////////////////////////////////////////
// // // restaurantes // // //
//////////////////////////////////////////////////////////////////////
#restaurante-tienda {
  .vue-map-container {
    width: 100%;
    height: 100%;
    // aspect-ratio: 16/8;
    border-radius: $border-btn;
  }
}