@import "@/styles/app";

// global

.input-file {
  .v-input__control {
    max-width: 12em;
    height: 12em;
    :is(.v-input__slot, .v-text-field__slot) {height: 100% !important;cursor: default}
    .v-text-field__slot {cursor: pointer !important}
    img {width: 100%}
  }
}

// miPerfil
#miPerfil {
  .contup {
    padding-top: 2em;
  }
  .contdown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em 4em;
    @media (max-width: 600px) and (max-height: 1180px) {
      grid-template-columns: repeat(1, 1fr) !important;
      grid-gap: 0.2em !important;
    }
    .gap_checkbox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1em;
    }
    .v-card {
      label {
        margin-left: 2ch;
      }
      // input {}
      .v-chip {
        background-color: var(--clr-btn);
        span {
          color:  var(--clr-text-btn);
          font-weight: 600;
        }
      }
      .contcheckbox {
        height: 3em;
        .v-btn {
          width: 2.5em;
          height: 100%;
          border-radius: 20px;
          img {
            width: 2.5em;
            animation: checkbox 0.2s ease;
          }
          @keyframes checkbox {
            0% {
              transform: scale(0.8);
              opacity: 0;
            }
            100% {
              transform: scale(1);
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .contsubmit {
    .v-btn:is(:hover, :focus) {
      transform: translateY(-1%);
      box-shadow: inset 0px 0px 4px rgb(164, 253, 223, 0.5);
    }
    .v-btn {
      background: var(--clr-btn);
      clip-path: $clip-path;
      border-radius: 28px;
      padding: clamp(1.8em, 2.5vw, 2.5em);
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
      transition: 0.2s ease-in-out;
      span {
        color: var(--clr-text-btn);
        font-weight: 600;
        letter-spacing: -0.1ch;
      }
    }
  }
}

// mi menu
#miMenu {
  @media (max-width: 1100px) {font-size: 15px}
  .contmimenu {
    .contup {
      padding-top: 2em;
      gap: 1em;
    }
    .contdown {
      display: grid;
      grid-template-columns: 20% repeat(2, 1fr);
      grid-gap: 0 clamp(1em, 1.5vw, 1.5em);
      @media (max-width: 1100px) {
        grid-template-columns: 25% repeat(2, 1fr) !important;
        @media (max-width: 880px) and (max-height: 1180px) {
          grid-template-columns: repeat(2, 1fr) !important;
          @media (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr) !important;
            grid-gap: 0.2em !important;
          }
        }
      }
      position: relative;
      padding-bottom: 2em;
      &::before {
        content: "";
        position: absolute;
        background-color: #191919;
        bottom: 0;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: 90%;
        height: 1px;
        filter: $sombra-filter;
      }
      .v-card {
        #precio {
          width: 50%;
        }
      }
      .v-card:nth-child(1) {
        grid-row: span 2;
      }
      .contprecio {
        gap: clamp(.8em, 2vw, 2em) !important;
        .v-btn {
          background: var(--clr-btn);
          clip-path: $clip-path;
          border-radius: 28px;
          padding: clamp(1.5em, 2vw, 2em) clamp(1em, 2vw, 2em);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
          transition: 0.2s ease-in-out;
          span {
            color: var(--clr-text-btn);
            font-weight: 600;
            letter-spacing: -0.1ch;
          }
        }
      }
    }
    .contSlide {
      gap: clamp(3em, 4vw, 4em);
      height: 500px;
      overflow-y: scroll;
      @media (max-width: 330px) and (max-height: 1180px) {
        font-size: 13px !important;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: $border-btn;
      }
      .v-card {
        max-width: 98%;
        margin-right: auto;
        position: relative;
        padding-bottom: 2em;
        line-height: 1.2;
        gap: clamp(1em, 2vw, 2em);
        @media (max-width: 700px) and (max-height: 1180px) {
          flex-direction: column !important;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin-inline: auto;
          background-color: $clr-btn;
          width: 80%;
          height: 1px;
        }
        .firstcont {
          position: relative;
          gap: 1em;
          padding-right: 1em;
          .foto {
            width: 7em;
            height: 7em;
            border-radius: $border-btn;
            background-color: var(--clr-card-2);
            padding: 0.5em;
          }
          .child1 {
            max-width: 25em;
            gap: 0.2em;
            label {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                margin-inline: auto;
                background-color: #191919;
                width: 100%;
                height: 1px;
              }
            }
            .child2 {
              gap: 1em;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                margin-inline: auto;
                background-color: #191919;
                width: 100%;
                height: 1px;
              }
            }
          }
        }
        .controls {
          @media (max-width: 700px) and (max-height: 1180px) {
            width: 100%;
          }
          .v-btn:nth-child(1) {
            span {color: $success !important;}
          }
          .v-btn:last-child {
            filter: $sombra-filter;
            span {color: $error !important;}
            img {
              width: 3em;
            }
          }
        }
      }
    }
  }
}

// menuForms
.verificatorMiPerfil {
  background-color: var(--clr-alerta) !important;
  box-shadow: none !important;
  clip-path: $clip-path;
  border-radius: 28px;
  padding: clamp(0.7em, 2vw, 1em) !important;
  h6 {
    color: $clr-label;
    font-weight: 700 !important;
  }
  .v-btn {
    min-width: max-content;
    min-height: max-content;
    border-radius: 20px;
    img {
      width: 1.5em;
    }
  }
}
